 /* .navbar{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


img{
    width: 65px;
    border: orange solid 3px;
    border-radius: 30px;

}

.movie-title{
    margin-top: 10px;
    color: orange;
    font-size: 22px;
    text-transform: uppercase;
}

.logo  {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 10px 20px; 
}

a{
    color:orange;
    text-decoration: none;  
}

 


li{
    font-size: 15px;
    display: inline-block;
    margin:5px;
}

.btn{
    margin: 10px;
    display: inline-block;
    
}

.log-btn{
    margin-right: 5px;
    padding: 10px
}

.sign-btn{
    padding: 10px
}

button{
    background-color: black;
    color:orange;
    font-size: 16px;
    border-radius: 20px;
    border: orange solid 3px;
    cursor: pointer;
}

.dropdown{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown li{
    background-color: black;
    text-decoration: none;
    padding: 10px;
    display: block;
}


li:hover .dropdown{
    display: block;
}

.space{
    padding:10px 20px;
    font-size: 25px;
} 

/* nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 40px;
    background-color: black;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 30px;
}

 a{
    text-decoration: none;
    color: goldenrod;
    font-size: 20px;
    padding-bottom: 5px;
} */ 

img{
    width: 55px;
    border: orange solid 3px;
    border-radius: 30px;

}

.navbar-brand{
    font-size: 27px;
    padding: 0px 10px;
    color: orange;
    text-transform: uppercase;
}


.nav-link{
   font-size: 22px;
   color:white;  
   text-transform: uppercase;
   color: orange; 
}

.nav-link:hover{
    transform: scale(1.2);
    transition-delay: 0.3s;
}



.form-control:focus{
    box-shadow: 0 0 0 0.2rem orange;
    border-color: orange;

}

.container-fluid{
    padding: 0px 50px;
}