
.login-con{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.form-contain{

    border: solid 5px orange;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 375px;
    height: 300px;
}

.pass-input{
    width: 170px;
    height: 20px;
    border-radius: 5px;
}

.user-input{
    width: 170px;
    height: 20px;
    border-radius: 5px;
}




