.container{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;


}

.img-box {
    border: black 3px solid;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    display: block;
    position: relative;

}

img{
    width: 200px;
    height: 300px;
    object-fit: cover;
}
.play-btn{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.25 ;
}

.play-btn:hover{
    backdrop-filter: blur(25px);
    opacity: 1;
}

.play-icon{
    font-size: 55px;
}
